.skill {
  width: 250px;
  background-color: seashell;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: slateblue;
}