.skillsBlock {
  min-height: 100vh;
  background-color: salmon;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: seagreen;
}

.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}