.mainBlock {
  height: 100vh;
  background-color: rgb(221, 178, 226);
}

.text {
  width: 300px;
  background-color: darkgray;
}

.photo {
  width: 300px;
  height: 400px;
  background-color: darkgray;
}