.projectBlock {
  min-height: 100vh;
  background-color: rgb(47, 101, 145);
}

.projectContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: rgb(18, 75, 42);
}

.projects {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}